.header
  .comment-number
    2
  .icons
    .icons__icon--up
      = link_to edit_user_registration_path, class: "header__right--btn" do
        %i.fas.fa-user
    .icons__icon--up
      = link_to "#" do
        %i.fas.fa-comment-dots.fa-flip-horizontal
    .icons__icon--up
      = link_to "#" do
        %i.fas.fa-user-plus
    .icons__icon--up
      = link_to "#" do
        %i.fas.fa-clock
    .icons__icon--downs
      .icons__icon--down
        = link_to "#" do
          %i.far.fa-square
      .icons__icon--down
        = link_to "#" do
          %i.far.fa-bookmark
      .icons__icon--down
        = link_to destroy_user_session_path, method: :delete, class: "header__right--btn" do
          %i.fas.fa-ellipsis-h